body {
    display: flex;
    flex-direction: column;
}

.p5Canvas {
    margin: 3rem;
}

main {
    display: flex;
    flex-direction: row;
}

.mode {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}